@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  margin: 0%;
  padding: 0%; }

.presentacion {
  padding: 20px;
  margin: 20px;
  text-align: center; }
  .presentacion p {
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: 1px;
    line-height: 28px; }
    .presentacion p a:hover {
      color: #fa6565; }

.gridsInicio {
  display: grid;
  gap: 20px;
  padding: 30px;
  text-align: center; }
  @media (min-width: 360px) {
    .gridsInicio {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr; } }
  @media (min-width: 768px) {
    .gridsInicio {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr; } }
  @media (min-width: 1204px) {
    .gridsInicio {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr; } }
  .gridsInicio .imagen {
    border-radius: 5px;
    border-style: none; }
    @media (min-width: 320px) {
      .gridsInicio .imagen {
        width: 250px; } }
    @media (min-width: 1204px) {
      .gridsInicio .imagen {
        width: 300px; } }
    @media (min-width: 1204px) {
      .gridsInicio .imagen {
        width: 350px; } }

.gridsIndex {
  display: grid;
  padding: 25px;
  margin: 25px;
  gap: 20px;
  align-items: center;
  text-align: center;
  justify-content: center; }
  @media (min-width: 360px) {
    .gridsIndex {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr; } }
  @media (min-width: 768px) {
    .gridsIndex {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr; } }
  @media (min-width: 1204px) {
    .gridsIndex {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr; } }
  .gridsIndex .imagen {
    border-radius: 15px; }
    @media (min-width: 320px) {
      .gridsIndex .imagen {
        width: 250px; } }
    @media (min-width: 768px) {
      .gridsIndex .imagen {
        width: 300px; } }
    @media (min-width: 1204px) {
      .gridsIndex .imagen {
        width: 400px; } }
  .gridsIndex .textoIndex {
    font-size: 1.2rem; }
    @media (min-width: 1204px) {
      .gridsIndex .textoIndex {
        font-size: 1.3rem; } }

.gridsHistoria {
  display: grid;
  padding: 10px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  text-align: center; }
  @media (min-width: 320px) {
    .gridsHistoria {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr; } }
  @media (min-width: 768px) {
    .gridsHistoria {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr; } }
  @media (min-width: 1204px) {
    .gridsHistoria {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr; } }
  .gridsHistoria .imagen {
    border-radius: 15px;
    border-style: none; }
    @media (min-width: 320px) {
      .gridsHistoria .imagen {
        width: 300px; } }
    @media (min-width: 768px) {
      .gridsHistoria .imagen {
        width: 300px; } }
    @media (min-width: 1204px) {
      .gridsHistoria .imagen {
        width: 400px; } }
  .gridsHistoria .textoHistoria {
    text-align: center;
    font-size: 1.2rem; }

.productos {
  text-align: center; }
  .productos .productosImg {
    display: grid;
    margin: 10px;
    padding: 10px; }
    @media (min-width: 320px) {
      .productos .productosImg {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 80px; } }
    @media (min-width: 560px) {
      .productos .productosImg {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 100px;
        column-gap: 20px; } }
    @media (min-width: 1204px) {
      .productos .productosImg {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr;
        row-gap: 80px; } }
    .productos .productosImg .tienda {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center; }
      .productos .productosImg .tienda h2 {
        font-size: 25px; }
      .productos .productosImg .tienda .imagen {
        transition: 0.5s;
        border-radius: 5px;
        border-style: none; }
        @media (min-width: 320px) {
          .productos .productosImg .tienda .imagen {
            width: 250px; } }
        @media (min-width: 768px) {
          .productos .productosImg .tienda .imagen {
            width: 250px; } }
        @media (min-width: 1200px) {
          .productos .productosImg .tienda .imagen {
            width: 300px; }
            .productos .productosImg .tienda .imagen:hover {
              transform: scale(1.1); } }
      .productos .productosImg .tienda a {
        width: 100px;
        margin-top: 20px; }

.gridsEnvios {
  display: grid;
  padding: 10px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  text-align: center; }
  @media (min-width: 320px) {
    .gridsEnvios {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr; } }
  @media (min-width: 768px) {
    .gridsEnvios {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr; } }
  @media (min-width: 1204px) {
    .gridsEnvios {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr; } }
  .gridsEnvios .imagen {
    border-radius: 15px;
    border-style: none; }
    @media (min-width: 320px) {
      .gridsEnvios .imagen {
        width: 250px; } }
    @media (min-width: 768px) {
      .gridsEnvios .imagen {
        width: 300px; } }
    @media (min-width: 1204px) {
      .gridsEnvios .imagen {
        width: 400px; } }
  .gridsEnvios .textoEnvios {
    text-align: center;
    font-size: 1.2rem; }

.tituloContacto h2 {
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 1.4rem; }

.contacto .container form div label {
  font-size: 1.4rem; }

.contacto .container form div input {
  font-size: 1.3rem; }

.contacto .container form div textarea {
  font-size: 1.3rem; }

.contacto .container form div div p {
  font-size: 1.3rem; }

.contacto .container form div select {
  font-size: 1.3rem; }

.contacto .container form div .botonContacto {
  color: black; }

.textoContacto {
  display: flex;
  justify-content: space-around;
  font-size: 1.3rem;
  padding: 10px;
  margin: 10px; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #F4BFBF;
  padding-top: 20px;
  margin-bottom: 0px;
  grid-area: footer; }
  @media (max-width: 340px) {
    footer .imgFooter {
      margin-right: 0px; } }
  @media (min-width: 341px) {
    footer .imgFooter {
      margin-left: 30px;
      margin-right: 30px; } }
  footer p {
    margin-top: 10px;
    text-align: center; }

body {
  background-color: #f2e1e1;
  font-family: 'Josefin Sans', sans-serif; }

#grilla {
  grid-template-areas: "header" "main" "footer";
  display: grid;
  grid-template-columns: 100%; }

.pink {
  background-color: #f4bfbf; }

.rosita {
  background-color: salmon; }

main {
  grid-area: main; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  color: #fa6565; }

.imgBanner {
  width: 100%; }

.subtituloResaltado {
  background-color: #F4BFBF;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 1.4rem; }

.productos {
  text-align: center; }
