@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  margin: 0%;
  padding: 0%; }

.presentacion {
  padding: 20px;
  margin: 20px;
  text-align: center; }
  .presentacion p {
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 28px; }
    .presentacion p a:hover {
      color: #fa6565; }

.subtituloResaltado {
  background-color: #F4BFBF;
  letter-spacing: 2px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-size: 25px; }

.gridsInicio {
  display: grid;
  gap: 20px;
  padding: 30px;
  position: relative;
  justify-content: center;
  align-content: center;
  text-align: center; }
  @media (min-width: 320px) {
    .gridsInicio {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr; } }
  @media (min-width: 768px) {
    .gridsInicio {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr; } }
  @media (min-width: 1204px) {
    .gridsInicio {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr; } }
  @media (min-width: 320px) {
    .gridsInicio .imagen {
      width: 300px;
      border-radius: 5px;
      border-style: none; } }
  @media (min-width: 768px) {
    .gridsInicio .imagen {
      width: 300px;
      border-radius: 5px;
      border-style: none; } }
  @media (min-width: 1204px) {
    .gridsInicio .imagen {
      width: 350px;
      border-radius: 5px;
      border-style: none; } }

.subtituloIndex {
  background-color: #F4BFBF;
  letter-spacing: 2px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-size: 30px; }

.gridsIndex {
  display: grid;
  padding: 25px;
  margin: 25px;
  gap: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; }
  @media (min-width: 320px) {
    .gridsIndex {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr; } }
  @media (min-width: 768px) {
    .gridsIndex {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr; } }
  @media (min-width: 1204px) {
    .gridsIndex {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr; } }
  .gridsIndex .imagen {
    border-radius: 15px;
    border-style: none;
    width: 350px; }
    @media (min-width: 320px) {
      .gridsIndex .imagen {
        width: 300px; } }
    @media (min-width: 768px) {
      .gridsIndex .imagen {
        width: 300px; } }
    @media (min-width: 1204px) {
      .gridsIndex .imagen {
        width: 400px; } }
  .gridsIndex .textoIndex {
    text-align: center;
    font-size: 1.5rem; }

.productos {
  text-align: center;
  padding: 50px;
  padding: 30px; }
  .productos .productosImg {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); }
    @media (min-width: 320px) {
      .productos .productosImg {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 80px; } }
    @media (min-width: 560px) {
      .productos .productosImg {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 100px;
        column-gap: 20px; } }
    @media (min-width: 1204px) {
      .productos .productosImg {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        row-gap: 80px; } }
    .productos .productosImg .tienda {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center; }
      .productos .productosImg .tienda p {
        font-size: 25px; }
      .productos .productosImg .tienda .imagen {
        transition: 0.5s; }
        @media (min-width: 320px) {
          .productos .productosImg .tienda .imagen {
            width: 250px;
            border-radius: 5px;
            border-style: none; } }
        @media (min-width: 768px) {
          .productos .productosImg .tienda .imagen {
            width: 250px;
            border-radius: 5px;
            border-style: none; } }
        @media (min-width: 1200px) {
          .productos .productosImg .tienda .imagen {
            width: 300px;
            border-radius: 5px;
            border-style: none; }
            .productos .productosImg .tienda .imagen:hover {
              transform: scale(1.1); } }
      .productos .productosImg .tienda a {
        width: 100px;
        margin-top: 20px; }

.gridsHistoria {
  display: grid;
  padding: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; }
  @media (min-width: 320px) {
    .gridsHistoria {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr; } }
  @media (min-width: 768px) {
    .gridsHistoria {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr; } }
  @media (min-width: 1204px) {
    .gridsHistoria {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr; } }
  .gridsHistoria .imagen {
    border-radius: 15px;
    border-style: none;
    width: 350px; }
    @media (min-width: 320px) {
      .gridsHistoria .imagen {
        width: 300px; } }
    @media (min-width: 768px) {
      .gridsHistoria .imagen {
        width: 300px; } }
    @media (min-width: 1204px) {
      .gridsHistoria .imagen {
        width: 400px; } }
  .gridsHistoria .textoHistoria {
    text-align: center;
    font-size: 1.3rem; }

.gridsEnvios {
  display: grid;
  padding: 25px;
  margin: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; }
  @media (min-width: 320px) {
    .gridsEnvios {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr; } }
  @media (min-width: 768px) {
    .gridsEnvios {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr; } }
  @media (min-width: 1204px) {
    .gridsEnvios {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr; } }
  .gridsEnvios .imagen {
    border-radius: 15px;
    border-style: none;
    width: 350px; }
    @media (min-width: 320px) {
      .gridsEnvios .imagen {
        width: 300px; } }
    @media (min-width: 768px) {
      .gridsEnvios .imagen {
        width: 300px; } }
    @media (min-width: 1204px) {
      .gridsEnvios .imagen {
        width: 400px; } }
  .gridsEnvios .textoEnvios {
    text-align: center;
    font-size: 1.3rem; }

footer {
  display: flex;
  justify-content: center;
  background-color: #F4BFBF;
  padding-top: 20px;
  margin-bottom: 0px;
  margin-top: 30px;
  grid-area: footer; }
  footer .imgFooter {
    margin-right: 30px;
    margin-left: 30px; }

.contacto .container form div label {
  font-size: 1.4rem; }

.contacto .container form div input {
  font-size: 1.3rem; }

.contacto .container form div textarea {
  font-size: 1.3rem; }

.contacto .container form div div p {
  font-size: 1.3rem; }

.contacto .container form div select {
  font-size: 1.3rem; }

.contacto .container form div .botonContacto {
  color: black; }

.textoContacto {
  display: flex;
  justify-content: space-around; }

body {
  background-color: #f2e1e1;
  font-family: 'Josefin Sans', sans-serif; }

#grilla {
  grid-template-areas: "header" "main" "footer";
  display: grid;
  grid-template-columns: 100%; }

/* Main */
.pink {
  background-color: #f4bfbf; }

.rosita {
  background-color: salmon; }

main {
  grid-area: main; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  color: #fa6565; }

.imgBanner {
  width: 100%; }

.animate__heartBeat {
  ---animate-duration: 3sg; }

h1 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 2px;
  line-height: 28px;
  text-align: center;
  font-size: 10rem; }

h2 {
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 3px;
  line-height: 28px;
  text-align: center;
  margin: 5px;
  padding: 5px; }

.subtituloResaltado {
  background-color: #F4BFBF;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 30px; }

.presentacion {
  padding: 20px;
  margin: 20px;
  text-align: center;
  font-size: larger; }

.productos {
  text-align: center; }

.imagen {
  color: #fa6565;
  border-width: 5px;
  border-style: dotted;
  width: 400px; }

/* Fin del main */
/* mediaqueries*/
@media (min-width: 768px) {
  .gridsInicio {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  .imagen {
    width: 300px; }
  .imagen2 {
    width: 300px; }
  .productosImg {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; }
  .gridsHistoria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr; } }

@media (min-width: 1204px) {
  .gridsInicio {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr; }
  .imagen {
    width: 350px; }
  .imagen2 {
    width: 350px; }
  .gridsHistoria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr; }
  .productosImg {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); } }

@media (min-width: 1400px) {
  .imagen {
    width: 400px; }
  .imagen2 {
    width: 400px; } }
