@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import "./base/variables";
@import "./base/reset";

@import "partials/index";
@import "./partials/historia";
@import "./partials/menu";
@import "./partials/pedienlinea";
@import "./partials/contacto";
@import "./partials/footer";

body {
    background-color: rgb(242, 225, 225);
    font-family: 'Josefin Sans', sans-serif;
}

#grilla {
    grid-template-areas:
        "header"
        "main"
        "footer";
    display: grid;
    grid-template-columns: 100%;
}

.pink {
    background-color: #f4bfbf
}

.rosita {
    background-color: salmon;
}

main {
    grid-area: main;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #fa6565;
}

.imgBanner {
    width: 100%;
}

.subtituloResaltado {
    background-color: #F4BFBF;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 1.4rem;
}

.productos {
    text-align: center;
}


