// Estilos del subtitulo de la sección Contacto.

.tituloContacto {
    h2 {
        text-align: center;
        margin: 10px;
        padding: 10px;
        font-size: 1.4rem;
    }
}

// Estilos de los textos del formulario.

.contacto {
    .container {
        form {
            div {
                label {
                    font-size: 1.4rem;
                }

                input {
                    font-size: 1.3rem;
                }

                textarea {
                    font-size: 1.3rem;
                }

                div {
                    p {
                        font-size: 1.3rem;
                    }
                }

                select {
                    font-size: 1.3rem;
                }

                .botonContacto {
                    color: black;
                }
            }
        }
    }
}

// Estilo del texto Contacto.

.textoContacto {
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
    padding: 10px;
    margin: 10px;
}