// Estilos del footer.
footer {
    display: flex;
    justify-content: center;
    background-color: #F4BFBF;
    padding-top: 20px;
    margin-bottom: 0px;
    grid-area: footer;

    .imgFooter {
        margin-right: 30px;
        margin-left: 30px;
    }

    p {
        margin-top: 10px;
        text-align: center;
    }
}