@import "../base/variables";

// Mediaqueries de la grilla, sección "Pedi en línea".

.gridsEnvios {
    display: grid;
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;


    @media (min-width: 320px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    @media (min-width: 1204px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    // Mediaqueries de las imagenes de la grilla.

    .imagen {
        border-radius: 15px;
        border-style: none;

        @media (min-width: 320px) {
            width: 250px;
        }

        @media (min-width: 768px) {
            width: 300px;
        }

        @media (min-width: 1204px) {
            width: 400px;
        }
    }

    // Estilo del texto. 

    .textoEnvios {
        text-align: center;
        font-size: $pHistoriaEnvios;
    }
}
