@import "../base/variables";

.subtituloResaltado {
    background-color: $subtitulo;
}

div {
        a:hover {
            color: $color-hover;
        p {
            font-size: 18px;
            text-align: center;
            letter-spacing: 1px;
            line-height: 28px; 
        }
    }
}