@import "../base/variables";
.subtituloResaltado {
    background-color: #F4BFBF;
    letter-spacing: 2px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 25px;
}

    .gridsInicio {
        display: grid;
        gap: 20px;
        padding: 30px;
        position: relative;
        justify-content: center;
        align-content: center;
        text-align: center;

        @media (min-width: 320px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }

        @media (min-width: 768px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }

        @media (min-width: 1204px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
        }

            .imagen {
                @media (min-width: 320px) {
                    width: 300px;
                    border-radius: 5px;
                    border-style: none;
                }

                @media (min-width: 768px) {
                    width: 300px;
                    border-radius: 5px;
                    border-style: none;
                }

                @media (min-width: 1204px) {
                    width: 350px;
                    border-radius: 5px;
                    border-style: none;
                }
            }
        }

        .subtituloIndex {
            background-color: #F4BFBF;
            letter-spacing: 2px;
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
            font-size: 30px;
        }

.gridsIndex {
    display: grid;
    padding: 25px;
    margin:25px;
    gap:20px;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr 1fr;

    
    @media (min-width: 320px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        
    }

    @media (min-width: 1204px) {
        grid-template-columns:  1fr 1fr;
        grid-template-rows: 1fr;
    }
    .imagen{
        border-radius: 15px;
        border-style: none;
        width: 350px;
        @media (min-width: 320px) {
            width:300px;
        }

        @media (min-width: 768px) {
            width:300px;
        }

        @media (min-width: 1204px) {
            width:400px;
        }
    }
    .textoIndex {
        text-align: center;
        font-size: $pTexto + 0.2rem;
    }
}
