    .productos {
        text-align: center;
        padding: 50px;
        padding: 30px;

        .productosImg {
            display: grid;
            align-items: center;
            justify-content: center;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);

            @media (min-width: 320px) {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                gap:80px;
            }

            @media (min-width: 560px) {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                gap:100px;
                column-gap: 20px;
            }

            @media (min-width: 1204px) {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
                row-gap: 80px;
            }

            .tienda {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center;

                p {
                    font-size: 25px;
                }

                .imagen {
                    transition: 0.5s;

                    @media (min-width: 320px) {
                        width: 250px;
                        border-radius: 5px;
                        border-style: none;
                    }

                    @media (min-width: 768px) {
                        width: 250px;
                        border-radius: 5px;
                        border-style: none;
                    }

                    @media (min-width: 1200px) {
                        width: 300px;
                        border-radius: 5px;
                        border-style: none;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }

                a {
                    width:100px;
                    margin-top: 20px;
                }
            }
        }

    }

