@import "../base/variables";
.subtituloResaltado {
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 2px;
    padding: 10px;
    border-radius: 5px;

    h1{
        font-size: 30px;
    }
}

        .gridsInicio {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            gap: 20px;
            padding: 30px;

            @media (min-width: 320px) {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                margin: 10px;
                padding: 10px;
                gap:10px;
            }

            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                margin: 10px;
                padding: 10px;
                gap:20px;
            }

            @media (min-width: 1204px) {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
            }

            .imagen {
                @media (min-width: 320px) {
                    width: 300px;
                    border-radius: 5px;
                    border-style: none;
                }

                @media (min-width: 768px) {
                    width: 300px;
                    border-radius: 5px;
                    border-style: none;
                }

                @media (min-width: 1204px) {
                    width: 400px;
                    border-radius: 5px;
                    border-style: none;
                }
            }
            }
