    .productos {
        text-align: center;
        display: flex;
        position: relative;
        padding:50px;

        .productosImg {
            display: grid;
            align-items: center;
            justify-content: center;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);


            @media (min-width: 320px) {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr;
            }

            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
            }

            @media (min-width: 1204px) {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
            }

                .tienda {
                    margin: 5px;
                    width: 100%;

                    h2 {
                        .imagen {
                            width: 100px;
                            transition-property: all;
                            transition-duration: 2sg;
                            &:hover{
                                transform: scale(1.1);
                            }

                            @media (min-width: 320px) {
                                width: 200px;
                            }

                            @media (min-width: 768px) {
                                width: 250px;
                            }

                            @media (min-width: 1200px) {
                                width: 350px;
                            }
                        }
                    }
                }
            }
        }

