@import "../base/variables";

.productos {
    text-align: center;

    h1 {
        font-family: 'Josefin Sans', sans-serif;
        letter-spacing: 2px;
        line-height: 28px;
        text-align: center;

        .subtituloResaltado {
            background-color: $subtitulo;
        }
    }

    div {
        a {
            a:hover {
                color: $color-hover;

                p {
                    font-size: 18px;
                    text-align: center;
                    letter-spacing: 1px;
                    line-height: 28px;
                }
            }
        }
    }

    div {
        .gridsInicio {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;

            @media (min-width: 0px) {
                .gridsInicio {
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                }
            }

            @media (min-width: 768px) {
                .gridsInicio {
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                }
            }

            @media (min-width: 1204px) {
                .gridsInicio {
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: 1fr;
                }
            }
        }

        div {
            .imagen {
                color: #fa6565;
                border-width: 5px;
                border-style: dotted;
                width: 400px;
            }
        }
    }
}